html, body{
height: 100%;
font-family :Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-size: small;
background: #fff;
}

#googleMap {
  position: absolute;
  background: #444;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}
#user_interface_top{
  position: absolute;
  /*background: rgba(146, 146, 146, 0.59);*/
  top: 50px;
  left: 0px;
  width: 100%;
  height: 100px;
}
#user_interface_left{
  position: absolute;
  /*background: rgba(146, 146, 146, 0.59);*/
  top: 50px;
  left: 0px;
  width: 510px;
  height: calc(100% - 50px);
}
.tooltip { 
  position:absolute;
  width: 145px;
  padding: 5px;
  border: 1px solid gray;
  font-size: 9pt;
  font-family: Verdana;
  background-color: #fff;
  color: #000;
}

#header {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin-top: 10px; 
  margin-left: 10px;  
  font:  45px 'Arial Black', Impact;
  color: rgb(59, 62, 66);
  z-index: 11;
}

#subheader {
  position: absolute;
  top: 60px;
  left: 360px;
  padding: 0px;
  margin: 0px;
  font:  italic 30px 'Times New Roman';
  color: #3054B6; /*colors used on http://water.chemistry2011.org/web/iyc: #B5F0FF; #009DDC */
  z-index: 11;
}

#background{
  background-position: absolute;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #bbb;
}
form{
  position: absolute;
}
#slider{
  position: relative;

  height: 10px;
  color: white;
  opacity: 0.5;

}
.slider {top:95%;}
.container{
  position: relative;
  
  color: black;
}
#wode_slider{
  top: 85%;
    margin-left:   520px;
  width: calc(99% - 520px);
}
#choose{
  display: inline;
    float: left;
  color:rgb(238, 243, 231);
  margin-top:15px;
}
.input{
  fill: black;
position: relative;

}
  .stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}
.museum, .museum svg {
  position: absolute;
}
.museum svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}
.museum circle{
  fill: green;
  stroke: black;
  stroke-width: 1.5px
}  
#info-box {
  background-color: rgba(240, 247, 255, 0.7);
  color:  #575757;
  bottom: 30px;
  height: 80px;
  padding: 10px;
  width:  200px;
  float:  right;  
  margin-right:   20px;

  left: 30px;
}
#pie{
    margin-top:   35px;
    }
#pie svg{
  margin-left: 50px;
display: block;
}
#info_table{


  width:  90%;
  margin-top:  80px;
}
#info_table p{
  text-align: left;
margin-left: 50px;
}
#histo {
    position: absolute;
    left: 8px;
    top: 315px;
}

#histolabel_x, #histolabel_y {
    position: absolute;
    opacity: 0;
}

#histolabel_y {
    top: 16px;
    left: 20px;
}

#histolabel_x {
    top: 205px;
    left: 170px;
}